@import './base.css';
:root {
  /* --background: #8d7b68;
  --shadow: rgba(163, 143, 123, 0.5) !important;
  --foreground: #c9b6a6;
  --text: #f1dec9; */
  --background: #143f6b;
  --shadow: rgba(245, 83, 83, 0.502);
  --foreground: #feb139;
  --text: #f6f54d;
}

#app {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--foreground);
  transition: 0.4s;
}

.picture {
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--shadow);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    padding: 0 2rem;
  }
}
